input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
textarea:-webkit-autofill, 
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus, 
select:-webkit-autofill, 
select:-webkit-autofill:hover, 
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #3d3d3d inset !important;
  box-shadow: 0 0 0px 1000px #222222 inset !important;
  -webkit-text-fill-color: #F1EFEC !important;
  transition: background-color 5000s ease-in-out 0s;
}

html,
:host {
    -webkit-text-size-adjust: 100%; /* For Safari and older browsers */
    text-size-adjust: 100%;        /* For modern browsers */
}

/* Your existing styles */

/* Add text-size-adjust for cross-browser compatibility */
html, body {
  -webkit-text-size-adjust: 100%;  /* For WebKit-based browsers (e.g., older Safari and Chrome Android) */
  text-size-adjust: 100%;          /* For modern browsers like Chrome, Firefox, Edge */
}
